@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

.page-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: none;
}

.text {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color:#ffffff;
}